@import "@mantine/core/styles.css";

/* other mantine css files are required only if
you are using components from the corresponding package
@import '@mantine/dates/styles.css';
@import '@mantine/dropzone/styles.css';
@import '@mantine/code-highlight/styles.css'; */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
